{{#if addNewListing}}
<h1>New Listing</h1>
  <div>
    <form>
      <div class="form-group">
        {{input class="form-control" value=title id="title" placeholder="Listing Title"}}
      </div>

      <div class="form-group">
        {{input class="form-control" value=description id="description" placeholder="description"}}
      </div>

      <div class="form-group">
        {{input class="form-control" value=owner id="owner" placeholder="Your Name"}}
      </div>

      <div class="form-group">
        {{input class="form-control" value=contact id="contact" placeholder="Contact info (email, phone #, ect)"}}
      </div>

      <button class="btn btn-default center-block" {{action 'saveListing'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-primary center-block" {{action 'addListing'}}>Add Listing</button>
{{/if}}
<br>
